version: '3.8'
services:
  mongodb:
    image: mongo:8.2.2-noble
    environment:
      MONGO_INITDB_DATABASE: mydatabase
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  postgres:
#    image: postgres:15
    image: pgvector/pgvector:pg15-trixie
    environment:
      POSTGRES_DB: lecturevault
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  mongo-data:
  pgdata:
